<div id="topcommon-banner">
    <div class="image-overlay"></div>
    <img src="assets/images/about-clinic.webp" alt="bg-image" class="w-100">
    <div class="banner-heading">
        <h2>About Skinlogics</h2>
    </div>
</div>
<div class="breadcrumb-menu">
    <div class="container-max">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about-skinlogics">About Skinlogics</a></li>
        </ul>
    </div>
</div>
<app-requestacallbackform></app-requestacallbackform>
<app-requestcallbackform-mobile></app-requestcallbackform-mobile>
<div id="skin-id">
    <div class="container-fluid">
        <div class="container-max">

            <div class="row aboutformmanage">
                <div class="col-12 col-lg-12">
                    <div class="skin-heading">
                        <!-- <h2>Skinlogics Derma Skin,
                            <span>Hair & Laser Clinic</span>
                        </h2> -->
                        <h1>Best Skin Clinic In Noida</h1>
                    </div>
                    <div class="skin-content">
                        <p>Skinlogics is a leading dermatology clinic in Noida providing clinical as well as 
                            cosmetic dermatology treatments under one roof.  The clinic is led by expert 
                            skin doctors who are acknowledged as one of the best skin specialists in Noida.</p>
                        <p>Located in the heart of Noida, Skinlogics offers personalised skincare & haircare treatments 
                            to all its patients. All procedures and treatments are performed by using the latest clinical 
                            methods with the help of world-class technology. Skinlogics is one of the most trusted skincare 
                            clinics in Noida offering a wide range of skincare as well as hair care treatments. The smooth running of the clinic is due to its 
                            experienced dermatologists, cosmetologists, aestheticians and nurses.</p>
                        <p>We, at Skinlogics, aim at providing a comprehensive patient experience and 
                            individualised care to all our valuable clients. We work extremely hard 
                            to provide our patients with excellent results by using the latest and renowned 
                            technologies at our clinic. Skinlogics believes in honest and quality patient care, 
                            and provides with long lasting solutions and therapies to meet individual needs.</p>
                        <!-- <p class="dekhstop-non">Be it skin diseases, aesthetic concerns, hair or scalp
                            problems, we make sure that our patients get the world-class
                            and most accurate treatment for their problem. Dr. Sumaira
                            Bhat is a caring & empathetic doctor and this quality of
                            her’s makes it easier for her patients to put their faith in
                            her and be open about their problems as well as
                            expectations. She is a popular dermatologist in Noida
                            because of her keen eye for detail and quick diagnosis.
                        </p> -->
                        <div class="skinappointment-button dekhstop-non">
                            <a routerLink="/book-an-appointment" routerLinkActive="active-link" class="common-blinkbutton">Schedule A Consultation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="skinlogix-wrapper" class="mobile-none">
    <div class="container">
        <div class="skinlogix-heading">
            <h2>Skin Expert at Skinlogics</h2>
            <p class="mobile-none">Learn more about Skinlogics talented team of aesthetic providers.</p>
        </div>
        <div class="dst-dermatologist">
            <app-dt-dermatologist></app-dt-dermatologist>
        </div>
    </div>
</div>



<div id="philosophy-wrap">
    <div class="container">
        <div class="pholosophy-heading">
            <div class="ourphiloshpy">Our Philosophy</div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="philosophy-text">
                    <p>The two main aspects of our philosophy are confidentiality and professionalism. Our aim at Skinlogics, is to maintain a cordial atmosphere and deliver customer satisfaction by providing excellent services. All our skin and hair treatments are carried out under the supervision of highly experienced medical professionals, who have vast knowledge in the field of dermatology. As skin ages, its elasticity declines, wrinkles begin to show, and its appearance as a whole is compromised. Our skin care products contain healing ingredients that function underneath the skin's surface to restore the health of the skin. We at Skinlogics, help in restoring people’s belief and make them feel more confident and strong about their own skin. We also deliver the highest standard of service and care by building a long-lasting relationship with our clients. We give equal attention to all and customize a treatment plan to achieve the skin goals. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="moreabout">
    <div class="container">
        <div class="moreabout-heading dekhstop-non">
            <h4 class="cosmetic-clinic">Best Dermatology & Cosmetic Clinic in Noida</h4>
        </div>
        <div class="row managemoreabout">
            <div class="col-12 col-lg-6">
                <div class="moreabout-heading mobile-none">
                    <h4 class="cosmetic-clinic">Best Dermatology & Cosmetic <span>Clinic in Noida</span></h4>
                </div>
                <div class="more-abouttext">
                    <p class="mobile-none">
                        Be it skin diseases, aesthetic concerns, hair or scalp problems, 
                        we make sure that our patients get the world-class and most 
                        accurate treatment for their problem. 

                    </p>
                    <p>We've worked hard to develop and maintain the clinical expertise required 
                        to prevent, diagnose, and treat all skin and hair-related disorders, 
                        such as acne scars and hair loss. The Skinlogics team has been hand-picked 
                        to help with the smooth delivery of the therapies as well as to provide a 
                        warm and welcoming environment for the patients.</p>

                    <p>We expertise in treatments such as acne scar removal, 
                        skin growth, vitiligo, fungal infections, keloids, dark 
                        circles, laser treatments, hair fall problems etc.

                    </p>
                    <p>Our unique approach of exact diagnosis, treating the root 
                        cause of problems to prevent reoccurrence, educating 
                        the patient to solve their own skin problems more 
                        efficiently, personalised care by knowledgeable, 
                        trained, and dedicated Skin Specialists at Skinlogics 
                        makes us stand out from other dermatology clinics.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 no-padding">
                <div class="moreabout-image">
                    <img src="assets/images/about-skinlogics.webp" alt="about image" class="w-100">
                </div>
            </div>
        </div>
        <!-- <div class="more-aboutbuttons dekhstop-non">
            <a routerLink="/" class="readmorebutton">Read More</a>
            <a routerLink="/book-an-appointment" routerLinkActive="active-link" class="bookapm">Schedule A Consultation</a>
        </div> -->
    </div>
</div>
<div id="skinlogix-wrapper" class="dekhstop-non">
    <div class="container">
        <div class="skinlogix-heading">
            <h2>Skin Expert at Skinlogics</h2>
            <p class="mobile-none">Learn more about Skinlogics talented team of aesthetic providers.</p>
        </div>
        <app-dt-dermatologist></app-dt-dermatologist>
    </div>
</div>


<div id="mobile-image-slider">
    <div class="container-fluid manage-paddingaboutslider">
        <div class="container-max">
            <div class="slidermobile-heading">
                <div class="whatwe-do">What We Do</div>
                <p>Skinlogics is a one stop location where you'll get the best and advanced dermatology
                    treatments for your beautiful skin. We offer a wide range of services for Younger Glowing Skin. 
                    
                </p>
            </div>
            <div class="row mobslider">

                <div class="col-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 manage-widthslider paddingremover mobile-none">
                    <div class="mobile-image-box">
                        <img src="assets/images/Aboutclnic-Pigments.webp" class="w-100" alt="Skin-Brightening">

                        <div class="box-image-text">
                            <div class="mobilesliderheading">Pigments & Spots</div>
                            <p>Skin pigmentation is the color of the skin which occurs due to a pigment, 
                                known as a melanin which gives the skin, hair and eyes a unique color.</p>
                            <div class="mobile-image-boxhover">
                                <ul>
                                    <li><a routerLink="/pigmentation-removal"><i class="fa fa-dot-circle-o"></i>Pigmentation Removal</a></li>
                                    <li><a routerLink="/lip-pigmentation-and-toning"><i class="fa fa-dot-circle-o"></i>Lip Pigmentation/Toning</a></li>
                                    <li><a routerLink="/melasma"><i class="fa fa-dot-circle-o"></i>Melasma</a></li>
                                </ul>
                                <a routerLink="/pigments-and-spots" class="mobile-imagebutton">Read More</a>
                            </div>
                        </div>
                        <button class="commonvideobutton" (click)="open(mymodal14)"><i class="fa fa-play"></i></button>
                        <ng-template #mymodal14 let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/04Qi8V1s-Es"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                                </div> -->
                        </ng-template>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 manage-widthslider">
                    <div class="mobile-image-box">
                        <img src="assets/images/Aboutclnic-Skin-Tightening.webp" class="w-100" alt="skin-tightening">
                        <div class="box-image-text">
                            <div class="mobilesliderheading">Facial Rejuvenation</div>
                            <p>Facial Rejuvenation is a cosmetic procedure which aims to 
                                restore a youthful appearance of the face. 
                                It can be done with either surgical or non-surgical options.
                            </p>
                            <div class="mobile-image-boxhover">
                                <ul>
                                    <li><a routerLink="/chemical-peels"><i class="fa fa-dot-circle-o"></i>Chemical Peels</a></li>
                                    <li><a routerLink="/microdermabrasion"><i class="fa fa-dot-circle-o"></i>MDA</a></li>
                                    <li><a routerLink="/photofacials"><i class="fa fa-dot-circle-o"></i>Photofacial</a></li>
                                </ul>
                                <a routerLink="/facial-rejuvenation" class="mobile-imagebutton">Read More</a>
                            </div>
                        </div>
                        <!-- <button class="commonvideobutton" (click)="open(mymodal15)"><i class="fa fa-play"></i></button> -->
                        <ng-template #mymodal15 let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">× </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/f67P53RPN54"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                                </div> -->
                        </ng-template>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 manage-widthslider">
                    <div class="mobile-image-box">
                        <img src="assets/images/Aboutclnic-FacialLiftContouring.webp" class="w-100" alt="skin-Resurfacing">
                        <div class="box-image-text">
                            <div class="mobilesliderheading">Facial Lift & Contouring</div>
                            <p>Facial Contouring is a cosmetic procedure that helps 
                                to improve the appearance and proportion of the face. 
                                It also makes facial features look more balanced with an improved facial line.
                            </p>
                            <div class="mobile-image-boxhover">
                                <ul>
                                    <li><a routerLink="/dermal-filler"><i class="fa fa-dot-circle-o"></i>Dermal Filler</a></li>
                                    <li><a routerLink="/anti-wrinkle-injection"><i class="fa fa-dot-circle-o"></i>Anti Wrinkle Injection</a></li>
                                    <li><a routerLink="/facial-lift-contouring"><i class="fa fa-dot-circle-o"></i>Cheek Enhancement</a></li>
                                </ul>
                                <a routerLink="/facial-lift-contouring" class="mobile-imagebutton">Read More</a>
                            </div>
                        </div>
                        <!-- <button class="commonvideobutton" (click)="open(mymodal16)"><i class="fa fa-play"></i></button> -->
                        <ng-template #mymodal16 let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/f67P53RPN54"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                                </div> -->
                        </ng-template>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 manage-widthslider paddingremoverright">
                    <div class="mobile-image-box">
                        <img src="assets/images/Aboutclnic-Skin-Brightening.webp" class="w-100" alt="Skin-Brightening">

                        <div class="box-image-text">
                            <div class="mobilesliderheading">Skin Brightening</div>
                            <p>Skinlogics offers a wide range of skin 
                                brightening treatments that can help 
                                regain a fresher-looking appearance. 
                                This is done to provide an even skin complexion.
                            </p>
                            <div class="mobile-image-boxhover">
                                <ul>
                                    <li><a routerLink="/laser-tonings"><i class="fa fa-dot-circle-o"></i>Laser Toning</a></li>
                                    <li><a routerLink="/chemical-peel"><i class="fa fa-dot-circle-o"></i>Chemical Peel</a></li>
                                    <li><a routerLink="/hydrafacial"><i class="fa fa-dot-circle-o"></i>Hydrafacial</a></li>
                                </ul>
                                <a routerLink="/skin-glow-brightening" class="mobile-imagebutton">Read More</a>
                            </div>
                        </div>
                        <!-- <button class="commonvideobutton" (click)="open(mymodal17)"><i class="fa fa-play"></i></button> -->
                        <ng-template #mymodal17 let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/f67P53RPN54"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                                </div> -->
                        </ng-template>
                    </div>
                </div>
            </div>


            <div class="aboutsecond-slide mobile-none mt-5">
                <div class="row mobslider">

                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 manage-widthslider paddingremover">
                        <div class="mobile-image-box">
                            <img src="assets/images/Aboutclnic-Aging-Skin.webp" class="w-100" alt="Skin-Brightening">

                            <div class="box-image-text">
                                <div class="mobilesliderheading">Aging Skin</div>
                                <p>Our skin changes with age. It becomes thin, loses fat, 
                                    and no longer looks plump and smooth as it once looked like. 
                                    The natural aging process produces wrinkles, dryness, age spots, 
                                    pigmentation and other skin flaws.
                                </p>
                                <div class="mobile-image-boxhover">
                                    <ul>
                                        <li><a routerLink="/sagging-skin"><i class="fa fa-dot-circle-o"></i>Sagging Skin</a></li>
                                        <li><a routerLink="/wrinkles"><i class="fa fa-dot-circle-o"></i>Wrinkles</a>
                                        </li>
                                        <li><a routerLink="/anti-ageing-facial"><i class="fa fa-dot-circle-o"></i>Anti Ageing Facial</a></li>
                                    </ul>
                                    <a routerLink="/aging-skin" class="mobile-imagebutton">Read More</a>
                                </div>
                            </div>
                            <!-- <button class="commonvideobutton" (click)="open(mymodal18)"><i class="fa fa-play"></i></button> -->
                            <ng-template #mymodal18 let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                                    <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/f67P53RPN54"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                                    </div> -->
                            </ng-template>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 manage-widthslider">
                        <div class="mobile-image-box">
                            <img src="assets/images/Aboutclnic-hair-care.webp" class="w-100" alt="skin-tightening">
                            <div class="box-image-text">
                                <div class="mobilesliderheading">Hair Care</div>
                                <p>Healthy and strong hair comes only with the right care! 
                                    Having healthy hair has become really important as it is 
                                    an extension of one’s personality. Skinlogics offers a wide range 
                                    of hair treatments to fix hair problems.</p>
                                <div class="mobile-image-boxhover">
                                    <ul>
                                        <li><a routerLink="/hair-fall-treatment"><i class="fa fa-dot-circle-o"></i>Hairfall Treatment</a></li>
                                        <li><a routerLink="/hair-transplant"><i class="fa fa-dot-circle-o"></i>Hair Transplant</a>
                                        </li>
                                        <li><a routerLink="/mesotherapy"><i class="fa fa-dot-circle-o"></i>Mesotherapy</a></li>
                                    </ul>
                                    <a routerLink="/hair-care" class="mobile-imagebutton">Read More</a>
                                </div>
                            </div>
                            <button class="commonvideobutton" (click)="open(mymodal19)"><i class="fa fa-play"></i></button>
                            <ng-template #mymodal19 let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                                    <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/UZ0LQQ9cUio"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                                    </div> -->
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 manage-widthslider">
                        <div class="mobile-image-box">
                            <img src="assets/images/Aboutclnic-unwantedhair.webp" class="w-100" alt="skin-Resurfacing">
                            <div class="box-image-text">
                                <div class="mobilesliderheading">Unwanted Hair</div>
                                <p>Most men and women feel embarrassed or conscious about their uninvited facial or body hair and dream of having long-lasting, silky smooth, hair-free skin. Get rid of unwanted hair at Skinlogics!
                                </p>
                                <div class="mobile-image-boxhover">
                                    <ul>
                                        <li><a routerLink="/body-hair"><i class="fa fa-dot-circle-o"></i>Body Hair</a></li>
                                        <li><a routerLink="/laser-hair-removal"><i class="fa fa-dot-circle-o"></i>Laser Hair Removal</a>
                                        </li>
                                        <li><a routerLink="/unwanted-hair"><i class="fa fa-dot-circle-o"></i>Under Arms Hair Removal</a></li>
                                    </ul>
                                    <a routerLink="/unwanted-hair" class="mobile-imagebutton">Read More</a>
                                </div>
                            </div>
                            <button class="commonvideobutton" (click)="open(mymodal20)"><i class="fa fa-play"></i></button>
                            <ng-template #mymodal20 let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                                    <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/HAn8ZQIO2zw"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                                    </div> -->
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 manage-widthslider paddingremoverright">
                        <div class="mobile-image-box">
                            <img src="assets/images/Aboutclnic-Skin-Resurfacing.webp" class="w-100" alt="Skin-Brightening">

                            <div class="box-image-text">
                                <div class="mobilesliderheading">Acne & Skin Resurfacing</div>
                                <p>Skin Resurfacing is a skincare treatment wherein light-based technologies are used to reduce a variety of skin imperfections all at once. It is also a popular treatment among many celebrities.</p>
                                <div class="mobile-image-boxhover">
                                    <ul>
                                        <li><a routerLink="/acne-scar-reduction"><i class="fa fa-dot-circle-o"></i>Acne Scar Reduction</a></li>
                                        <li><a routerLink="/acne"><i class="fa fa-dot-circle-o"></i>Acne Treatment</a>
                                        </li>
                                        <li><a routerLink="/mnrf"><i class="fa fa-dot-circle-o"></i>MNRF</a></li>
                                    </ul>
                                    <a routerLink="/acne-skin-resurfacing" class="mobile-imagebutton">Read More</a>
                                </div>
                            </div>
                            <button class="commonvideobutton" (click)="open(mymodal21)"><i class="fa fa-play"></i></button>
                            <ng-template #mymodal21 let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                                    <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/lYRKxPs5zYc"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                                    </div> -->
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="videoview-button dekhstop-non">
                <a routerLink="/treatments">View All</a>
            </div>
        </div>
    </div>
</div>

<!-- <div id="video-testimonial">
    <div class="container-fluid">
        <div class="container-max">
            <div class="videotestimonial-heading">
                <h2>Video Testimonials</h2>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4 addextrapadding">
                    <div class="videoimage-wrap">
                        <img src="assets/images/skinlogicsdermaskincover.webp" alt="cover image" class="w-100">

                        <div class="videoplay-button">
                            <a routerLink="/"><i class="fa fa-play"></i></a>
                            <button class="commonvideobutton" (click)="open(mymodal22)"><i class="fa fa-play"></i></button>
                        </div>
                        <ng-template #mymodal22 let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/f67P53RPN54"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </ng-template>
                    </div>
                    <div class="video-info">
                        <p>Skinlogics Derma Skin, Hair & Laser Clinic</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 addextrapadding mobile-none">
                    <div class="videoimage-wrap">
                        <img src="assets/images/skinlogicsdermaskincover.webp" alt="cover image" class="w-100">

                        <div class="videoplay-button">
                            <a routerLink="/"><i class="fa fa-play"></i></a>
                            <button class="commonvideobutton" (click)="open(mymodal23)"><i class="fa fa-play"></i></button>
                        </div>
                        <ng-template #mymodal23 let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/f67P53RPN54"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </ng-template>
                    </div>
                    <div class="video-info">
                        <p>Skinlogics Derma Skin, Hair & Laser Clinic</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 addextrapadding mobile-none">
                    <div class="videoimage-wrap">
                        <img src="assets/images/skinlogicsdermaskincover.webp" alt="cover image" class="w-100">

                        <div class="videoplay-button">
                            <a routerLink="/"><i class="fa fa-play"></i></a>
                            <button class="commonvideobutton" (click)="open(mymodal24)"><i class="fa fa-play"></i></button>
                        </div>
                        <ng-template #mymodal24 let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/f67P53RPN54"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </ng-template>
                    </div>
                    <div class="video-info">
                        <p>Skinlogics Derma Skin, Hair & Laser Clinic</p>
                    </div>
                </div>
            </div>

            <div class="viewallvideos">
                <a routerLink="/">View All</a>
            </div>
        </div>
    </div>
</div> -->

<div id="faqsMb" class="mobile-none">
    <app-faqs></app-faqs>
</div>

<div class="dt-testimonial">
    <app-testimonial></app-testimonial>
</div>

<div class="mb-testimonial">
    <app-mobile-testimonial></app-mobile-testimonial>
</div>


<div id="faqsDt" class="dekhstop-non">
    <app-faqs></app-faqs>
</div>

<div class="mb-form">
    <app-mobile-form></app-mobile-form>
</div>
<div class="dst-form">
    <app-dt-form></app-dt-form>
</div>