<div id="topcommon-banner" class="mobile-none">
    <div class="image-overlay"></div>
    <img src="assets/images/bg-image.jpg" alt="bg-image" class="w-100">
    <div class="banner-heading">
        <h2>Legal Disclaimer</h2>
    </div>
</div>
<div class="breadcrumb-menu mobile-none">
    <div class="container-max">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/legal-disclaimer">Legal Disclaimer</a></li>
        </ul>
    </div>
</div>
<div id="innertopcommon-bannermobile" class="dekhstop-non">
    <div class="stylingcontent">
        <div class="banner-heading">
            <h2>Legal Disclaimer</h2>
        </div>
        <div class="breadcrumb-menu">
            <div class="container-max">
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/terms-conditions">Legal Disclaimer</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <!-- <app-requestacallbackform></app-requestacallbackform>
    <app-requestcallbackform-mobile></app-requestcallbackform-mobile> -->
<section id="termsConditionWrap">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="termsconditioncontent"></div>
            </div>
        </div>
    </div>
</section>
<div class="dst-form">
    <!-- <app-dt-form></app-dt-form> -->
</div>
<div class="mb-form">
    <!-- <app-mobile-form></app-mobile-form> -->
</div>


