#thankyoupage {
    padding: 50px 0px;

    .thankyoucontentwrap {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        padding: 50px 20px;

        .checksign {
            text-align: center;
            height: 70px;
            width: 70px;
            margin: 0 auto;
            border: 1px solid #f197a5;
            ;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 40px;
                color: #f197a5;
            }
        }

        .thankyouheading {
            font-size: 70px;
            text-align: center;
            font-family: "oswald";
            color: #f197a5;
            line-height: 1;
            font-weight: bold;
            margin: 10px 0px;
        }

        .thankyoutext {
            font-size: 20px;
            text-align: center;
        }
    }
}


@media(min-width:992px) {
    #thankyoupage {
        padding: 150px 0px;

        .thankyoucontentwrap {
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

            .checksign {
                text-align: center;
                height: 70px;
                width: 70px;
                margin: 0 auto;
                border: 1px solid #f197a5;
                ;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 40px;
                    color: #f197a5;
                }
            }

            .thankyouheading {
                font-size: 70px;
                text-align: center;
                font-family: "oswald";
                color: #f197a5;
                line-height: 1;
                font-weight: bold;
                margin: 30px 0px;
            }

            .thankyoutext {
                font-size: 30px;
                text-align: center;
            }
        }
    }
}