
<section id="thankyoupage">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="thankyoucontentwrap">
                    <div class="checksign">
                        <span class="fa fa-check"></span>
                    </div>
                    <div class="thankyouheading">
                        Thank you!
                    </div>
                    <div class="thankyoutext">
                        We have received your request. We will get in touch with you shortly.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
