<div id="skinlogix-wrapper" class="dekhstop-non">
    <div class="container">
        <div class="skinlogix-heading">
            <h2>Skin Doctor</h2>
            <p class="mobile-none">Learn more about Skinlogics talented team of aesthetic providers, including what many
                consider the best dermatologist in Noida.</p>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 skinlogix-margin1">
                <div class="skinlogix-imagebox">
                    <div class="skinlogix-image">
                        <img src="assets/images/nikita-arya.png" class="w-100" alt="nikita-arya">
                        <div class="dr-name">
                            <h2>Dr. Nikita Arya</h2>
                        </div>
                    </div>

                    <div class="dr-specility">
                        <p>MBBS, Dermatologist and Cosmetologist,
                            Masters in Clinical Dermatology from the
                            University of Hertfordshire, UK.</p>
                    </div>
                    <div class="dr-discriptio">
                        <p>Dr. Nikita Arya is specialized and has vast experience in
                            Dermatology and Cosmetology. Dr. Nikita, after completing
                            her MBBS, practiced Medicine and Surgery with some of the
                            well-known hospitals in India.</p>
                    </div>
                    <div class="skinlogix-button">
                        <a routerLink="/about-skinlogics" class="dr-readmorebutton">Read More</a>
                        <a routerLink="/book-an-appointment" class="dr-appointmentmorebutton common-blinkbutton">Schedule A Consultation</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 skinlogix-margin">
                <div class="skinlogix-imagebox">
                    <div class="skinlogix-image">
                        <img src="assets/images/sumaira-bhat.png" class="w-100" alt="sumaira-bhat">
                        <div class="dr-name">
                            <h2>Dr. Sumaira Bhat</h2>
                        </div>
                    </div>

                    <div class="dr-specility">
                        <p>MBBS, Diploma in Clinical Dermatology (UK),
                            MSc. - Clinical Dermatology, Dermatologist</p>
                    </div>
                    <div class="dr-discriptio">
                        <p>Dr. Sumaira Bhat is a Dermatologist and Cosmetologist
                            working in Noida.She has done her MBBS from Rajiv Gandhi
                            University Karnataka and Masters in Dermatology from
                            Cardiff university (UK). </p>
                    </div>
                    <div class="skinlogix-button">
                        <a routerLink="/about-skinlogics" class="dr-readmorebutton">Read More</a>
                        <a routerLink="/book-an-appointment" class="dr-appointmentmorebutton common-blinkbutton">Schedule A Consultation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
