<div id="topcommon-banner">
    <div class="image-overlay"></div>
    <img src="assets/images/pooja-molia-banner.jpg" alt="bg-image" class="w-100">
    <div class="banner-heading">
        <h2>Dr. Pooja Moliya</h2>
    </div>
</div>
<div class="breadcrumb-menu">
    <div class="container-max">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/dr-pooja-moliya">Dr. Pooja Moliya</a></li>
        </ul>
    </div>
</div>
<!-- <app-requestacallbackform></app-requestacallbackform>
<app-requestcallbackform-mobile></app-requestcallbackform-mobile> -->
<div id="aboutdoctorwrap">
    <div class="container-fluid">
        <div class="container-max">
            <div class="row aboutdoctorwrapmanage">
                <div class="col-12 col-lg-6">
                    <div class="aboutdrimage">
                        <div class="aboutdrheading dekhstop-non"> 
                            <div class="drnameheading">Dr. Pooja Moliya</div>
                        </div>
                        <img src="assets/images/dr-pooja-moliya.webp" alt="dr-image" class="img-fluid w-100">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="aboutdrcontent-wrap">
                        <div class="aboutdrheading mobile-none">
                            <div class="drnameheading">Dr. Pooja Moliya</div>
                            <!-- <p>MBBS, Diploma in Clinical Dermatology (UK),
                                <span>MSc. - Clinical Dermatology, Dermatologist</span>
                            </p> -->
                        </div>
                        <div class="drtextdetails">
                            <p>Dr Pooja Moliya is Dermatologist and Cosmetologist working in Noida. She has done her MBBS from Pandit Deendayal Upadhyay Medical college Rajkot and Masters in Dermatology from Smt NHL Municipal Medical college Ahmedabad.
                                She has very good experience in diagnosis and treatment of various common and rare Dermatological conditions owing to vast exposure received in government set up in last 4 years. She is a member of IADVL (India). She practices general dermatology with special interest in hair and nail disorders, aesthetic procedure and anti-aging medicine.
                                She has good skill in performing various dermatosurgery like vitiligo surgeries, electrocautery and radio frequency abalation, various skin and nail biopsies, nail surgeries, scar revision surgeries etc.
                                She is also expert in various cosmetic procedure like PRP, microneedling, chemical peels, acne scar management, mesotherapy, LHR and various laser.
                            </p>
                           
                        </div>
                        <div class="aboutdrbutton">
                            <a routerLink="/book-an-appointment" routerLinkActive="active-link"> <button type="button" class="common-blinkbutton">Schedule A Consultation</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="educationexp">
    <div class="container-fluid">
        <div class="container-max">
            <div class="educationheading">
                <h2>Education & Experience</h2>
            </div>
            <div class="row educationexpmanage">
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>MBBS - 2005</h2>
                        <p>Rajiv Gandhi University of Health Sciences,
                            <span>Bangalore, India,</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Diploma - 2010</h2>
                        <p>Diploma in Clinical Dermatology (UK),
                            <span>Cardiff University, United Kingdom</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>MSc - 2011</h2>
                        <p>Clinical Dermatology - Cardiff University,
                            <span>United Kingdom </span>
                        </p>
                    </div>
                </div>

                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Consultant Dermatologist</h2>
                        <p>Skinlogics Clinic
                            <span>Jan 2021 - Present </span>
                        </p>
                    </div>
                </div>

                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Consultant Dermatologist</h2>
                        <p>Lafameux Skin Clinic
                            <span>2019 - Jan 2022</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Consultant</h2>
                        <p>Healthcare Clinic
                            <span>2017 - Jan 2022</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Consultant</h2>
                        <p>Healthcare Clinic
                            <span>2017 - Jan 2022</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Dermatologist and Cosmetologist</h2>
                        <p>Rahaily
                            <span>Apr 2014 - Dec 2015</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Dermatologist</h2>
                        <p>Dr. Sulaiman Alhabib
                            <span>Jan 2011 - Jun 2013</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="whychooseus">
    <app-dtwhy-choose></app-dtwhy-choose>
</div>

<div class="mb-testimonial">
    <app-mobile-testimonial></app-mobile-testimonial>
</div>

<div class="common-faqwrap">
    <app-faqs></app-faqs>
</div>


<div class="dt-testimonial">
    <app-testimonial></app-testimonial>
</div> -->


<div class="mb-form">
    <app-mobile-form></app-mobile-form>
</div>
<div class="dst-form">
    <app-dt-form></app-dt-form>
</div>
