<footer>
    <div class="container-fluid">
        <div class="container-max">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="footer-wrapper commonfooter">
                        <div class="footer-logo">
                            <a  routerLink="/" routerLinkActive="active-link"><img src="assets/images/logo.png" alt="footer-logo"></a>
                        </div>
                        <div class="footer-discriptiontext">
                            <p>Skinlogics is a leading dermatology clinic in Noida providing clinical 
                                as well as cosmetic dermatology treatments under one roof. 
                                The clinic is led by expert skin doctors who are acknowledged 
                                as one of the best skin specialists in Noida.</p>
                            <a routerLink="/book-an-appointment" routerLinkActive="active-link" class="common-blinkbutton">Schedule A Consultation</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="footer-links commomfooter">
                        <div class="footer-linkheading">
                            <div class="changeh3">Useful Links</div>
                        </div>
                        <div class="ft-link">
                            <ul>
                                <li><a  routerLink="/" routerLinkActive="active-link">Home</a></li>
                                <li><a  routerLink="/about-skinlogics" routerLinkActive="active-link">About Clinic</a></li>
                                <li><a routerLink="/skin-doctor-in-noida" routerLinkActive="active-link">Skin Doctor</a></li>
                                <li><a  routerLink="/book-an-appointment" routerLinkActive="active-link">Conditions</a></li>
                                <li><a  routerLink="/book-an-appointment" routerLinkActive="active-link">Procedures</a></li>
                                <li><a  routerLink="/blog" routerLinkActive="active-link">Blogs</a></li>
                                <li><a  routerLink="/testimonials" routerLinkActive="active-link">Testimonials</a></li>
                                <li><a  routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="footer-links commomfooter">
                        <div class="footer-linkheading">
                            <div class="changeh3">Conditions</div>
                        </div>
                        <div class="ft-link">
                            <ul>
                                <li><a  routerLink="/contact-dermatitis" routerLinkActive="active-link">Dermatitis</a></li>
                                <li><a  routerLink="/hair-care" routerLinkActive="active-link">Hair Care</a></li>
                                <li><a  routerLink="/anti-ageing-facial" routerLinkActive="active-link">Anti Ageing</a></li>
                                <li><a  routerLink="/laser-tattoo-removal" routerLinkActive="active-link">Laser Tattoo Removal</a></li>
                                <li><a  routerLink="/stretch-marks-removal" routerLinkActive="active-link">Stretch Marks Removal</a></li>
                                <li><a  routerLink="/spider-veins" routerLinkActive="active-link">Spider Veins</a></li>
                                <li><a  routerLink="/body-hair" routerLinkActive="active-link">Body Hair</a></li>
                                <li><a  routerLink="/pcod-treatment" routerLinkActive="active-link">PCOD</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="footer-links commomfooter">
                        <div class="footer-linkheading">
                            <div class="changeh3">Treatments</div>
                        </div>
                        <div class="ft-link">
                            <ul>
                                <li><a  routerLink="/acne" routerLinkActive="active-link">Acne</a></li>
                                <li><a  routerLink="/acne-scar-removal" routerLinkActive="active-link">Acne Scar Removal</a></li>
                                <li><a  routerLink="/melasma" routerLinkActive="active-link">Melasma</a></li>
                                <li><a  routerLink="/freckle" routerLinkActive="active-link">Freckles</a></li>
                                <li><a  routerLink="/eczema" routerLinkActive="active-link">Eczema</a></li>
                                <li><a  routerLink="/psoriasis" routerLinkActive="active-link">Psoriasis</a></li>
                                <li><a  routerLink="/vitiligo" routerLinkActive="active-link">Vitiligo </a></li>
                                <li><a  routerLink="/under-eye-dark-circle" routerLinkActive="active-link">Dark Circles</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footeradress commonfooter">
                        <div class="footer-linkheading">
                            <div class="changeh3">Address</div>
                        </div>
                        <div class="footeradwrap">
                            <p>Skinlogics Clinic</p>
                            <p>D-82A, D-Block, Sector 26, <span>Noida, Uttar Pradesh 201301</span></p>
                        </div>
                        <div class="contactfooter">
                            <p><i class="fa fa-phone-square"></i><a href="tel:+919999172667"> +91 9999172667</a></p>
                            <p><i class="fa fa-envelope"></i><a href="mailto:skinlogicsclinic@gmail.com">skinlogicsclinic@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="footer-socilmedia">
                        <div class="footer-linkheading">
                            <div class="changeh3">Follow Us</div>
                        </div>
                        <ul>
                            <li><a  href="https://www.facebook.com/skinlogicsnoida" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a></li>
                            <li><a  href="https://mobile.twitter.com/logicsskin" target="_blank"><i class="fa fa-twitter" rel="nofollow"></i></a></li>
                            <li><a  href="https://www.instagram.com/skinlogics_derma/?igshid=171l2jda11ymj" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a></li>
                            <li><a  href="https://www.youtube.com/channel/UCkP79Zx95xFREbwidwuVJhA" target="_blank" rel="nofollow"><i class="fa  fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="disclamir">
                    <h4 class="dekhstop-non">Disclaimer</h4>
                    <p>
                        Disclaimer: The content on this website (www.skinlogics.in) is solely for the
                        purpose of educating and creating awareness about the domain i.e.
                        Dermatology. This shall not be treated as a substitute to a professional
                        dermatologist's advice or prescription. There is no guarantee of specific
                        results and the results for any treatment mentioned on the website
                        may vary, as every individual and their skin conditions are different.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="bottomfooter">
    <div class="container-fluid">
        <div class="container-max">
            <div class="row">
                <div class="col-12">
                    <div class="bottam-footer">
                        <div class="bottam-footerlinks">
                            <!-- <ul>
                                <li><a  routerLink="/terms-conditions" routerLinkActive="active-link">Terms & Conditions</a></li>
                                <li><a  routerLink="/legal-disclaimer" routerLinkActive="active-link">Legal Disclaimer</a></li>
                                <li><a  routerLink="/privacy-policy" routerLinkActive="active-link">Privacy Policy</a></li>
                            </ul> -->
                            <ul>
                                <li><a >Terms & Conditions</a></li>
                                <li><a >Legal Disclaimer</a></li>
                                <li><a >Privacy Policy</a></li>
                            </ul>
                            <p>© Copyright 2022, Skinlogics Clinic. <span>|</span> All Rights Reserved.
                                <!-- Powered by <a  href="https://www.digilantern.com/" target="_blank">DigiLantern</a> -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="whatsupchatbutton">
    <div class="whatsupbutton">
        <a href="https://api.whatsapp.com/send?phone=919999172667&text=Skinlogics"><i class="fa fa-whatsapp"></i></a>
    </div>
</section>

<section id="clicktoaction" class="dekhstop-non">
    <div class="container">
        <div class="row">
            <div class="ftrFixMenu">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="ctabutton">
                            <a href="tel:+919999172667"> <i class="fa fa-phone" aria-hidden="true"></i>
                                <p>Call</p>
                                <p>Us</p>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="ctabutton">
                            <a routerLink="/quick-appointment"> <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <p>Quick</p>
                                <p>Appointment</p>
                            </a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="ctabutton">
                            <a routerLink="/book-an-appointment"> <i class="fa fa-calendar" aria-hidden="true"></i>
                                <p>Schedule A </p>
                                <p>Consultation</p>
                            </a>
                        </div>
                    </div>


                    <div class="col">
                        <div class="ctabutton">
                            <a href="mailto:skinlogicsclinic@gmail.com"> <i class="fa fa-envelope-o"
                                    aria-hidden="true"></i>
                                <p>Email</p>
                                <p>Us</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<button class="gototop" *ngIf="isShow" (click)="gotoTop()"><i class="fa fa-arrow-up"></i></button>
