<div id="topcommon-banner">
    <div class="image-overlay"></div>
    <img src="assets/images/bg-image.jpg" alt="bg-image" class="w-100">
    <div class="banner-heading">
        <h2>Privacy Policy</h2>
    </div>
</div>
<div class="breadcrumb-menu">
    <div class="container-max">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
    </div>
</div>
<app-requestacallbackform></app-requestacallbackform>
<app-requestcallbackform-mobile></app-requestcallbackform-mobile>
<section id="privacyPolicywrap">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="privacypolicycontent"></div>
            </div>
        </div>
    </div>
</section>
<div class="dst-form">
    <app-dt-form></app-dt-form>
</div>
<div class="mb-form">
    <app-mobile-form></app-mobile-form>
</div>
