<div id="topcommon-banner">
    <div class="image-overlay"></div>
    <img src="assets/images/bg-image.jpg" alt="bg-image" class="w-100">
    <div class="banner-heading">
        <h2>Dr. Sumaira Bhat</h2>
    </div>
</div>
<div class="breadcrumb-menu">
    <div class="container-max">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/skin-doctor">About Doctor</a></li>
        </ul>
    </div>
</div>
<app-requestacallbackform></app-requestacallbackform>
<app-requestcallbackform-mobile></app-requestcallbackform-mobile>
<div id="aboutdoctorwrap">
    <div class="container-fluid">
        <div class="container-max">
            <div class="row aboutdoctorwrapmanage">
                <div class="col-12 col-lg-6">
                    <div class="aboutdrimage">
                        <img src="assets/images/about-drimage.jpg" alt="dr-image" class="img-fluid w-100">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="aboutdrcontent-wrap">
                        <div class="aboutdrheading">
                            <h2>Dr. Sumaira Bhat</h2>
                            <p>MBBS, Diploma in Clinical Dermatology (UK),
                                <span>MSc. - Clinical Dermatology, Dermatologist</span>
                            </p>
                        </div>
                        <div class="drtextdetails">
                            <p>Dr. Sumaira Bhat is a Dermatologist and Cosmetologist working in Noida. She has done
                                her MBBS from Rajiv Gandhi University Karnataka and Masters in Dermatology from
                                Cardiff university (UK).She has done her fellowships in aesthetics like lasers botox
                                fillers
                                etc. from UK. Dr. Sumaira Bhat possesses both national and international experience of
                                over 12 years in the field of clinical dermatology and aesthetics. She has worked with
                                the
                                best hospital chains in UK, Gulf and India.
                            </p>
                            <p>
                                She is a world-class expert in treating scars, anti-ageing treatment and hair loss and
                                balances science with art to give her patients fabulous lasting result. Besides that,
                                she is
                                dealing with cosmetology as well. She practices general dermatology with special
                                interest
                                in hair disorders, aesthetic and anti-aging medicine. She is recognized nationally and
                                internationally for her innovative work with skin lasers/RF, cosmetic dermatology and
                                facial rejuvenation techniques. . She has been awarded as corona warrior by state
                                affairs
                                in helping people during covid times with skin problems. She is an member of Association
                                of dermatologists(UK) and IADVL(India).</p>
                            <p>Her aesthetic magic has been the silent reason behind the captivating beauty across the
                                borders. She has enhanced and perfected thousands of beautiful faces, alluring tresses
                                and
                                helped her patients discover the best of their natural beauty. Dr. Sumaira believes in
                                achieving the best beautiful outcomes by combining the scientific advances in
                                aesthetics,
                                her excellent skills in both clinical dermatology and aesthetics , and keen eye for
                                aesthetics
                                to achieve natural results.</p>
                        </div>
                        <div class="aboutdrbutton">
                            <a routerLink="/book-an-appointment" routerLinkActive="active-link"> <button type="button">Book An
                                    Appointment</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="educationexp">
    <div class="container-fluid">
        <div class="container-max">
            <div class="educationheading">
                <h2>Education & Experience</h2>
            </div>
            <div class="row educationexpmanage">
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>MBBS - 2005</h2>
                        <p>Rajiv Gandhi University of Health Sciences,
                            <span>Bangalore, India,</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Diploma - 2010</h2>
                        <p>Diploma in Clinical Dermatology (UK),
                            <span>Cardiff University, United Kingdom</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>MSc - 2011</h2>
                        <p>Clinical Dermatology - Cardiff University,
                            <span>United Kingdom </span>
                        </p>
                    </div>
                </div>

                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Consultant Dermatologist</h2>
                        <p>Skinlogics Clinic
                            <span>Jan 2021 - Present </span>
                        </p>
                    </div>
                </div>

                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Consultant Dermatologist</h2>
                        <p>Lafameux Skin Clinic
                            <span>2019 - Jan 2022</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Consultant</h2>
                        <p>Healthcare Clinic
                            <span>2017 - Jan 2022</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Consultant</h2>
                        <p>Healthcare Clinic
                            <span>2017 - Jan 2022</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Dermatologist and Cosmetologist</h2>
                        <p>Rahaily
                            <span>Apr 2014 - Dec 2015</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="educationdetailwrap">
                        <h2><i class="fa fa-check"></i>Dermatologist</h2>
                        <p>Dr. Sulaiman Alhabib
                            <span>Jan 2011 - Jun 2013</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="whychooseus">
    <app-dtwhy-choose></app-dtwhy-choose>
</div>

<div class="mb-testimonial">
    <app-mobile-testimonial></app-mobile-testimonial>
</div>

<div class="common-faqwrap">
    <app-faqs></app-faqs>
</div>


<div class="dt-testimonial">
    <app-testimonial></app-testimonial>
</div> -->


<div class="mb-form">
    <app-mobile-form></app-mobile-form>
</div>
<div class="dst-form">
    <app-dt-form></app-dt-form>
</div>
