<section id="landingpageWrap">
    <div class="landing-image"><img src="assets/images/lpimage.png" class="img-fluid"></div>
    <div class="content-form">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="landingbanner-text">                        
                    <div class="landingpageheading">
                        Welcome to Skinlogics Clinic Noida
                    </div>
                    <div class="landingbannercontent">
                        WE OFFER MORE POSSIBILITIES TO MEET YOUR VARIOUS NEEDS,<br> FOR A SENSE OF SATISFACTION.
                    </div>
                    </div>
                    <div id="landingpageform">
                        <div class="container-fluid">
                            <div class="container-max">
                                <div class="row">
                                    <div class="col-12">
                                        <form>
                                            <div class="form-row manageformrow">
                                                <div class="requestheading">
                                                    <p>Request a Callback</p>
                                                </div>
                                                <div class="commonform-group">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="inlineFormInputName"
                                                            placeholder="Name*" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="email" class="form-control" id="emailland"
                                                            placeholder="Email*" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="tel" class="form-control" id="mobilenumber"
                                                            placeholder="Mobile*" required>
                                                    </div>
                                                    <div class="form-submit">
                                                        <button type="submit" class="requestsubmit">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="landingsecond">
    <div class="container">
        <div class="row manage-landingabout">

            <div class="col-12 col-md-5 col-lg-5">
                <div class="landskinlogicsimage">
                    <img src="assets/images/landaboutt.png" class="img-fluid">
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-7">
                <div class="landaboutskinlogics">
                    <p class="cacs">Clinical and Cosmetic Skincare</p>
                    <p class="ssin">Skin Specialist in Noida</p>
                </div>
                <div class="landaboutskintext">
                    <p>Skinlogics is a leading dermatology clinic in Noida providing clinical as well
                        as cosmetic dermatology treatments under one roof. The clinic
                        is led by Dr. Sumaira Bhat and Dr. Nikita Arya who
                        are acknowledged as one of the best skin specialists in Noida.</p>
                    <p>Located in the heart of Noida, Skinlogics offers personalised skincare &
                        haircare treatments to all its patients. All procedures and treatments are performed
                        by using the latest clinical methods with the help of world-class technology. Skinlogics
                        is one of the most trusted skincare clinics in Noida offering a wide range of skincare as well
                        as hair care treatments under the guidance of best dermatologist in Noida. The smooth running of
                        the clinic is due to its experienced dermatologists, cosmetologists, aestheticians and nurses.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="whatwedoland">
    <div class="container">
        <div class="whatwedolandingheading">
            How does the Skinlogics - Golden touch Skin
        </div>
        <div class="landingheadingbottomtext">
            It is a one stop location where you'll get the best and advanced dermatology<br>
            treatments for your beautiful skin.
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landing-service">
                    <span class="fa fa-check-circle"></span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landing-service">
                    <span class="fa fa-check-circle"></span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landing-service">
                    <span class="fa fa-check-circle"></span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landing-service">
                    <span class="fa fa-check-circle"></span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landing-service">
                    <span class="fa fa-check-circle"></span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landing-service">
                    <span class="fa fa-check-circle"></span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="landing-videos">
    <div class="container">
        <div class="landingvideosheading">
            our videos
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="videoimage-wrap">
                    <img src="assets/images/skinlogicsdermaskincover.jpg" alt="cover image" class="w-100">

                    <div class="videoplay-button">
                        <!-- <a href="#"><i class="fa fa-play"></i></a> -->
                        <button class="commonvideobutton" (click)="open(mymodal22)"><i class="fa fa-play"></i></button>
                    </div>
                    <ng-template #mymodal22 let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/wXBzsSqkBZA"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </ng-template>
                </div>
                <div class="video-info">
                    <p>Skinlogics Derma Skin, Hair & Laser Clinic</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <div class="videoimage-wrap">
                    <img src="assets/images/pigmentationcover.jpg" alt="cover image" class="w-100">

                    <div class="videoplay-button">
                        <!-- <a href="#"><i class="fa fa-play"></i></a> -->
                        <button class="commonvideobutton" (click)="open(mymodal23)"><i class="fa fa-play"></i></button>
                    </div>
                    <ng-template #mymodal23 let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Skinlogics</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/oJ_HTmM51Fo"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </ng-template>
                </div>
                <div class="video-info">
                    <p>Pigmentation</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="whychooselandingpage">
    <div class="container-fluid">
        <div class="container-max">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="landcombind">
                        <div class="landingwhychooseheading">
                            Why Choose Skin Logics
                        </div>
                        <div class="landingpagepoints">
                            <p><span class="fa fa-check-circle"></span> It is a long established fact that a reader will
                                be distracted by the readable</p>
                            <p><span class="fa fa-check-circle"></span> It is a long established fact that a reader will
                                be distracted by the readable</p>
                            <p><span class="fa fa-check-circle"></span> It is a long established fact that a reader will
                                be distracted by the readable</p>
                            <p><span class="fa fa-check-circle"></span> It is a long established fact that a reader will
                                be distracted by the readable</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="landsecondcombind">
                        <div class="landingwhychooseheading">
                            Advantages of Skin Logics
                        </div>
                        <div class="landingpagepoints">
                            <p><span class="fa fa-check-circle"></span> It is a long established fact that a reader will
                                be distracted by the readable</p>
                            <p><span class="fa fa-check-circle"></span> It is a long established fact that a reader will
                                be distracted by the readable</p>
                            <p><span class="fa fa-check-circle"></span> It is a long established fact that a reader will
                                be distracted by the readable</p>
                            <p><span class="fa fa-check-circle"></span> It is a long established fact that a reader will
                                be distracted by the readable</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="landingrealresults">
    <div class="container">
        <div class="landingrealresultheading">
            Real Patients, Real Result
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landingcommonresult">
                    <img src="assets/images/acne.jpg" alt="gallery" class="w-100 img-fluid">
                    <div class="categoryname">Acne</div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landingcommonresult">
                    <img src="assets/images/AcneScarRemoval.jpg" alt="gallery" class="w-100 img-fluid">
                    <div class="categoryname">AcneScar Removal</div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landingcommonresult">
                    <img src="assets/images/anti-aging.jpg" alt="gallery" class="w-100 img-fluid">
                    <div class="categoryname">Anti Aging</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="landingpagetestimonial">
    <div class="container">
        <div class="landingpagetestimonialheading">
            Patient Testimonials
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="landinglivetestimonial">
                    <div class="contentdesktop">
                        <div class="client-detail">
                            <div class="img-area">
                                <h2>AS</h2>
                            </div>
                            <div class="client-name">
                                <h3>Ashu Saini</h3>
                            </div>
                        </div>
                        <p>I had full body lightning with 4 sessions. and got impressive
                            result on both face and body ! you need you must visit in
                            this clinic it will help . Dr. shivangi suggested me to do that
                            and also suggest for medicine with was very helpful and
                            its a best derma clinic in Noida.</p>

                        <div class="reviewname">
                            <div class="reviewstar">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="client-image">
                                <img src="assets/images/google.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <div class="landinglivetestimonial">
                    <div class="contentdesktop">
                        <div class="client-detail">
                            <div class="img-area">
                                <h2>RS</h2>
                            </div>
                            <div class="client-name">
                                <h3>Ramkesh Sahani</h3>
                            </div>
                        </div>
                        <p>Wonderful experience on my full body lighting
                            treatment, after taking 3 sittings I got changes
                            in my skin colour, it's becoming lighter. Dr. Sumaira
                            did great job & the counselor also. Well informed
                            about the treatment and aftercare. I must
                            recommend for any of your skin related Issues.
                            must visit once. good luck skinlogics team !!</p>
                        <div class="reviewname">
                            <div class="reviewstar">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="client-image">
                                <img src="assets/images/google.png" alt="image">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="landingform">
    <div id="consultation-wrapper">
        <div class="container">
            <div class="consulationform-heading">
                <!-- <h2>Schedule Your Consultation</h2> -->
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="AboutskinformWrap">
                        <div class="AboutskinformWrap-heading">
                            <h2>Skinlogics Clinic</h2>
                            <p>Your body is constantly changing. Gravity, age, and the elements
                                are constantly pulling at you. But you are not alone in this fight.
                                The doctors and aesthetic experts at Skinlogics Clinic, are also in
                                constant motion, relentlessly innovating better ways to overcome
                                the entropic effects of time and gravity.</p>
                        </div>
                        <div class="skinlogicscontactdetail">
                            <p><span>Clinic Timing:</span> Monday - Sunday: 11 AM – 7 PM</p>
                            <p><span>Phone:</span> +91 9999172667‬</p>
                            <p><span>Email:</span> skinlogicsclinic@gmail.com</p>
                            <p class="smalldisription">We are Here to offer more possibilities to meet your every needs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="consultation-form">
                        <div class="consulationform-heading">
                            <h2>Schedule Your Consultation</h2>
                        </div>
                        <form>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-2">
                                            <input type="text" class="form-control" id="nameTwo" placeholder="Name*"
                                                required="">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-2">
                                            <input type="email" class="form-control" id="emailTwo" placeholder="Email*"
                                                required="">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">

                                        <div class="form-2">
                                            <input type="text" class="form-control" id="mobileTwo" placeholder="Phone*"
                                                required="">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-2">
                                            <!-- <input type="text" id="date1" name="date1" class="dateselect form-control"
                                                placeholder="Date*" required="" autocomplete="off"> -->
                                            <!-- <ngx-datepicker [(ngModel)]="date" [options]="options"
                                                name="appointment-date" autocomplete="off" readonly autoclose="true"
                                                type="text"></ngx-datepicker> -->

                                        </div>
                                    </div>
                                </div>
                                <div class="form-2">
                                    <textarea rows="6" cols="" placeholder="Message" class="form-control"></textarea>
                                </div>
                                <div class="landingsubmit-now">
                                    <button type="submit" class="landingsubmit-button">submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="row landingdisclimer">
                <div class="col-12 col-lg-12">
                    <div class="landinginformation">
                        <p> By clicking on "Submit", you agree to our <a routerlink="/">Privacy Policy</a>, <a
                                routerlink="/">Disclaimer</a> and <a routerlink="/">Terms &amp; Conditions</a>.</p>
                    </div>

                    <div class="book_socialmedia">
                        <h3>Follow Us On</h3>
                        <ul class="social-networkbook social-circles">
                            <li><a href="#" title="Facebook" rel="nofollow" target="_blank" class="icoFacebook"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Instagram" rel="nofollow" target="_blank" class="icoInstagram"><i
                                        class="fa fa-instagram"></i></a></li>
                            <li><a href="#" title="Youtube" rel="nofollow" target="_blank" class="icoYoutube"><i
                                        class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="landingadress">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landingacommonicon">
                    <p class="socialcommon"><span class="fa fa-phone"></span></p>

                    <div class="landingphone commoncontactdetail">
                        <p>+91 9999172667</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landingacommonicon">
                    <p class="socialcommon"><span class="fa fa-map-marker"></span></p>

                    <div class="landingadress commoncontactdetail">
                        <p>D-82A, D-Block, Sector 26, <br>
                            Noida, Uttar Pradesh 201301</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="landingacommonicon">
                    <p class="socialcommon"><span class="fa fa-envelope"></span></p>

                    <div class="landing-email commoncontactdetail">
                        <p>skinlogicsclinic@gmail.com</p>
                    </div>
                </div>
            </div>
            <p class="landingdisclamer"><b>Disclaimer:</b> The content on this website <a href="#">(www.skinlogics.in)</a> is 
                solely for the purpose of educating and creating awareness about the domain i.e. 
                Dermatology. This shall not be treated as a substitute to a professional dermatologist's
                 advice or prescription. There is no guarantee of specific results and the results for any treatment mentioned 
                on the website may vary, as every individual and their skin conditions are different.</p>
        </div>
    </div>
</section>

<div id="landingbottomfooter">
    <div class="container-fluid">
        <div class="container-max">
            <div class="row">
                <div class="col-12">
                    <div class="bottam-footer">
                        <div class="bottam-footerlinks">
                            <ul>
                                <li><a  routerLink="/terms-conditions" routerLinkActive="active-link">Terms & Conditions</a></li>
                                <li><a  routerLink="/treatments" routerLinkActive="active-link">Legal Disclaimer</a></li>
                                <li><a  routerLink="/privacy-policy" routerLinkActive="active-link">Privacy Policy</a></li>
                            </ul>
                            <p>© Copyright 2022, Skinlogics Clinic. <span>|</span> All Rights Reserved.
                                Powered by <a  href="https://www.digilantern.com/" target="_blank">DigiLantern</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>